.title{
  margin-left: 20px;
  font-size: 23px;
  letter-spacing: .05rem;
}
.detail-card{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  grid-gap: 1rem;
}
.left-card{
  margin-top: 10px;
  width: auto;
  height: 280px;
  grid-column: 1/2;
  grid-row: 1/2;
  box-shadow: 0 10px 10px rgba(0,0,0,0.3);
}
.right-card{
  margin-right: 30px;
  grid-column: 2/3;
  grid-row: 1/2;
}
.author{
  font-size: 17px;
  letter-spacing: .05rem;
  font-weight: lighter;
  margin-top: 20px;
}
.category{
  font-size: 17px;
  letter-spacing: .05rem;
  font-weight: lighter;
  margin-top: 10px;
}
.rating{
  font-size: 17px;
  letter-spacing: .05rem;
  font-weight: lighter;
  margin-top: 10px;
}
.ISBN{
  font-size: 17px;
  letter-spacing: .05rem;
  margin-top: 10px;
  font-weight: lighter;
  margin-bottom: 10px;

}
.yop{
  font-size: 17px;
  letter-spacing: .05rem;
  font-weight: lighter;
  margin-top: 10px;
}
.publisher{
  font-size: 17px;
  letter-spacing: .05rem;
  font-weight: lighter;
  margin-top: 10px;
}
.preview-link{
  margin-top: 20px;
  font-size: 17px;
  font-weight: lighter;
}

.btn {
    margin-top: 20px;
    margin-right: 20px;
    font-size: 15px;
    background-color: #000;
    opacity: 0.9;
    border-radius: 5px;
    color: #FFF;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    display:block;
    float:left;
    width:100px;
    transition: box-shadow .3s ease-in-out,
                transform .3s ease-in-out;
}
.btn:hover {
  box-shadow: 0 5px 10px rgba(0,0,0,.3);
  transform: translateY(-2px);
  color: #ff5ea2;
}
.description{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 16px;
  font-weight: lighter;
  text-align: justify;
  letter-spacing: .05rem;
}
@media only screen and (max-width: 750px) {
  .title{
    font-size: 22px;
  }
  .left-card{
    height: 225px;
  }
  .author{
    margin-top: 10px;
    font-size: 16px;
  }
  .category{
    font-size: 16px;
  }
  .rating{
    font-size: 16px;
  }
  .publisher{
    font-size: 16px;
  }
  .yop{
    font-size: 16px;
  }
  .ISBN{
    font-size: 16px;
  }
  .preview-link{
    font-size: 16px;
  }
  .description{
    font-size: 15px;
  }
  .btn {
    font-size: 14px;
    padding: 5px;
    margin-right: 5px;
    margin-top: 10px;
  }
}
