:root{
  --main--padding:13px;
  --left--padding:20px;
}
*{
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}
.container{
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 6fr 0.4fr 0.4fr;
  grid-template-rows: 1fr 14fr;
}
.topnav_name{
  grid-column: 1/2;
  grid-row: 1/2;
  background: #000;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  letter-spacing: .1rem;
  padding-left: var(--left--padding);
  padding-top: var(--main--padding);
}
.topempty{
  grid-row: 1/2;
  grid-column: 2/3;
  background: #000;
  opacity: 0.9;
}
.topnav_link1{
  grid-column: 3/4;
  grid-row: 1/2;
  background: #000;
  opacity: 0.9;
  text-decoration: none;
  color: #fff;
  text-align: right;
  padding-right: 20px;
  padding-top: var(--main--padding);
}
.topnav_link2{
  grid-column: 4/5;
  grid-row: 1/2;
  background: #000;
  opacity: 0.9;
  text-decoration: none;
  color: #fff;
  text-align: right;
  padding-right: 20px;
  padding-top: var(--main--padding);
}
.topnav_link1:hover{
  color: #ff5ea2;
}
.topnav_link2:hover{
  color: #ff5ea2;
}
.main{
  grid-column: 1/5;
  grid-row: 2/3;
  grid-gap: 2rem;
  overflow-y: scroll;
}
.sub-main{
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  grid-template-rows: 1fr;
  margin-top: 80px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 60px;
  grid-gap: 3rem;
}
.main-image{
  width: auto;
  height:400px;
  grid-column: 1/2;
  grid-row: 1/2;
}
.main-details{
  display: block;
  margin-top: 65px;
  grid-column: 2/3;
  grid-row: 1/2;
}
.main-title{
  font-size: 32px;
  color: #0d0d0d;
  letter-spacing: .05rem;
  padding-bottom: 10px;
}
.main-subtitle{
  padding-bottom: 40px;
  font-size: 20px;
  color: #262626;
  font-weight: 100;
  margin: 20px 0 10px;
  text-align: justify;
  letter-spacing: .001rem;
}
.main-link{
  width: 100px;
  border: 0;
  padding: 12px 10px;
  outline: none;
  text-decoration: none;
  color: #fff;
  background: #000000;
  opacity: 0.9;
  cursor: pointer;
}
@media only screen and (max-width: 850px) {
  .sub-main{
    margin-left: 60px;
    margin-right: 60px;
  }
  .main-image{
    width: auto;
    height:340px;
  }
  .main-details{
    margin-top: 50px;
  }
  .main-title{
    font-size: 28px;
  }
  .main-subtitle{
    font-size: 18px;
  }
  .main-link{
    font-size: 16px;
    padding: 8px 6px;
  }
}
@media only screen and (max-width: 700px) {
  .container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr 1fr 1fr;
    grid-template-rows: 1fr 14fr;
  }

  .topnav_name{
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .topempty{
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .topnav_link1{
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .topnav_link2{
    grid-column: 4/5;
    grid-row: 1/2;
  }
  .main{
    grid-column: 1/5;
    grid-row: 2/3;
  }
  .sub-main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr;
    margin-left: 70px;
    margin-right: 60px;
    margin-top: 10px;
    grid-gap:1.5rem;
  }
  .main-image{
    grid-column: 1/2;
    grid-row: 1/2;
    width: auto;
    height:300px;
  }
  .main-details{
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: 0px;
  }
  .main-title{
    font-size: 28px;
  }
  .main-subtitle{
    font-size: 18px;
  }
  .main-link{
    font-size: 16px;
    padding: 8px 6px;
  }
}
