.content1{
  display: grid;
  height: 75vh;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-column-gap: 0.5rem;
  grid-row-gap: 2rem;
}
.card {
    position: relative;
    box-shadow: 0 10px 10px rgba(0,0,0,0.3);
    height: 280px;
    overflow: hidden;
}
.card > figure {
    width: 65%;
    margin: 10px auto 0 auto;
}
.card > figure > img {
    width: 100%;
}
.details {
    background-color: #FFF;
    border-radius: 10px;
    padding: 5px;
    position: absolute;
    top: 77%;
    width: 200px;
    height: 215px;
    transition: box-shadow .3s ease-in-out,
                top .3s ease-in-out;
}
.card:hover .details {
    box-shadow: 0 -5px 10px rgba(0,0,0,0.3);
    top: 20%;
}
.details > .min-details,
.details > .options,
.details > .options > .options-author,
.details > .options > .options-category,
.details > .options > .options-rating{
    margin-bottom: 15px;
}
.details > .min-details {
    display: flex;
    margin-left: 10px;
    justify-content: space-between;
}
.details > .options h2 {
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 12px;
}
.details > .min-details a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 22px;
    font-size: 13px;
    text-align: left;
}
.details > .min-details a:hover{
  color: #ff5ea2;
}
.details > a{
    font-size: 12px;
    display:block;
    float:left;
    width:45%;
}
.btn {
    background-color: #000;
    border-radius: 5px;
    color: #FFF;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    width: 50%;
    transition: box-shadow .3s ease-in-out,
                transform .3s ease-in-out;
}
.btn:hover {
  box-shadow: 0 5px 10px rgba(0,0,0,.3);
  transform: translateY(-2px);
  color: #ff5ea2;
}
