:root{
  --main--padding:13px;
  --left--padding:20px;
}
*{
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}
.container{
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 5fr 0.5fr;
  grid-template-rows: 0.9fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 5fr;
}
.topnav_name{
  grid-column: 1/2;
  grid-row: 1/2;
  background: #000;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: .1rem;
  padding-left: var(--left--padding);
  padding-top: var(--main--padding);
}
.topempty{
  grid-row: 1/2;
  grid-column: 2/3;
  background: #000;
}
.topnav_link{
  grid-column: 3/4;
  grid-row: 1/2;
  background: #000;
  text-decoration: none;
  color: #fff;
  text-align: right;
  padding-right: 20px;
  padding-top: var(--main--padding);
}
.topnav_link:hover{
  color: #ff5ea2;
}
.nav_subtitle1{
  grid-column: 1/2;
  grid-row: 2/3;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: .1rem;
  background: #000;
  padding-left: var(--left--padding);
  padding-top: var(--main--padding);

}
.nav_subtitle2{
  grid-column: 1/2;
  grid-row: 5/6;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: .1rem;
  background: #000;
  padding-top: var(--main--padding);
  padding-left: var(--left--padding);
}
.nav_link1{
  grid-column: 1/2;
  grid-row: 3/4;
  align-items: center;
  text-decoration: none;
  color: #fff;
  background: #000;
  padding-top: var(--main--padding);
  padding-left: var(--left--padding);
}
.nav_link2{
  grid-column: 1/2;
  grid-row: 4/5;
  align-items: center;
  text-decoration: none;
  color: #fff;
  background: #000;
  padding-top: var(--main--padding);
  padding-left: var(--left--padding);
}
.nav_link3{
  grid-column: 1/2;
  grid-row: 6/7;
  align-items: center;
  text-decoration: none;
  color: #fff;
  background: #000;
  padding-top: var(--main--padding);
  padding-left: var(--left--padding);
}
.nav_link4{
  grid-column: 1/2;
  grid-row: 7/8;
  align-items: center;
  text-decoration: none;
  color: #fff;
  background: #000;
  padding-top: var(--main--padding);
  padding-left: var(--left--padding);
}
.nav_link5{
  grid-column: 1/2;
  grid-row: 8/9;
  align-items: center;
  text-decoration: none;
  color: #fff;
  background: #000;
  padding-top: var(--main--padding);
  padding-left: var(--left--padding);
}
.nav_link1:hover{
  color: #ff5ea2;
}
.nav_link2:hover{
  color: #ff5ea2;
}
.nav_link3:hover{
  color: #ff5ea2;
}
.nav_link4:hover{
  color: #ff5ea2;
}
.nav_link5:hover{
  color: #ff5ea2;
}
.empty{
  background: #000;
}
.main{
  grid-column: 2/4;
  grid-row: 2/3;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}
.search
{
	border: 2px solid #000;
	border-radius: 5px;
}
.search input[type="text"]
{
	border: 0px;
	width: 80%;
	padding: 10px 10px;
  font-size: 16px;
}
.search input[type="text"]:focus
{
	outline: 0;
}
.search input[type="submit"]
{
	border: 0px;
  font-size: 16px;
	background: none;
	background-color: #000;
	color: #fff;
	float: right;
	padding: 10px;
  cursor:pointer;
}
.content{
  padding-left: 8px;
  grid-column: 2/4;
  grid-row: 3/10;
  /* background: #6fffd2; */
  padding-top: var(--main--padding);
  padding-bottom: var(--main--padding);
  overflow-y: scroll;
}
@media only screen and (max-width: 550px) {
  .container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 7fr;
  }
  .topnav_name{
    grid-column: 1/2;
    grid-row: 1/2;
    /* background: #000;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: .1rem;
    padding-left: var(--left--padding);
    padding-top: var(--main--padding); */
  }
  .empty{
    grid-column: 2/5;
    grid-row: 1/2;
    background: #000;
  }
  .topnav_link{
    grid-column: 5/6;
    grid-row: 1/2;
    /* background: #000;
    text-decoration: none;
    color: #fff;
    text-align: right;
    padding-right: 20px;
    padding-top: var(--main--padding); */
  }
  .nav_subtitle1{
    display: none;
  }
  .nav_subtitle2{
    display: none;
  }
  .nav_link1{
    grid-column: 1/2;
    grid-row: 2/3;
    padding-bottom: var(--main--padding);
    padding-top: var(--main--padding);
    /* align-items: center;
    text-decoration: none;
    color: #fff;
    background: #000;
    padding-left: var(--left--padding); */
  }
  .nav_link2{
    grid-column: 2/3;
    grid-row: 2/3;
    padding-top: var(--main--padding);
    padding-bottom: var(--main--padding);
    text-align: center;
    /* align-items: center;
    text-decoration: none;
    color: #fff;
    background: #000;
    padding-left: var(--left--padding); */
  }
  .nav_link3{
    grid-column: 3/4;
    grid-row: 2/3;
    text-align: center;
    padding-bottom: var(--main--padding);
    padding-top: var(--main--padding);
    /* align-items: center;
    text-decoration: none;
    color: #fff;
    background: #000;
    padding-left: var(--left--padding); */
  }
  .nav_link4{
    grid-column: 4/5;
    grid-row: 2/3;
    padding-top: var(--main--padding);
    padding-bottom: var(--main--padding);
    text-align: center;
    /* align-items: center;
    text-decoration: none;
    color: #fff;
    background: #000;
    padding-left: var(--left--padding); */
  }
  .nav_link5{
    grid-column: 5/6;
    grid-row: 2/3;
    text-align: right;
    padding-top: var(--main--padding);
    padding-bottom: var(--main--padding);
    padding-right: 20px;
    /* align-items: center; */
    /* text-decoration: none;
    color: #fff;
    background: #000;
    padding-left: var(--left--padding); */
  }
  .main{
    grid-column: 1/6;
    grid-row: 3/4;
    padding-top: var(--main--padding);
    padding-bottom: var(--main--padding);
  }
  .search
	{
		width: 95%;
		margin: 0 auto;
	}
  .content{
    grid-column: 1/6;
    grid-row: 4/5;
    /* background: #6fffd2;
    padding-top: var(--main--padding); */
  }
}
