{% load static %}
<div class="card">
  <figure>
    <img src={{book.Image}}>
  </figure>
  <section class="details">
    <div class="min-details">
      <a href="{% url 'details' book.id %}">Title: {{book.BookTitle}}</a>
    </div>
    <div class="options">
      <div class="options-author">
        <h2>Author: {{book.BookAuthor}}</h2>
      </div>
      <div class="options-category">
        <h2>Category: {{book.Genre}} </h2>
      </div>
      <div class="options-rating">
        <h2>Rating: {{book.AvgBookRating}}</h2>
      </div>
    </div>
    <a href="{% url 'favourite_add' book.id %}" class="btn"> + Favourite</a>
    <a href="{% url 'readlist_add' book.id %}" class="btn"> + To Read</a>
  </section>
</div>
 
