{% load static %}
<div class="card">
  <figure>
    <img src="{% static 'images/defaultImage.jpg'%}" alt="t-shirt">
  </figure>
  <section class="details">
    <div class="min-details">
      <a href="#">Title: </a>
    </div>
    <div class="options">
      <div class="options-author">
        <h2>Author: </h2>
      </div>
      <div class="options-category">
        <h2>Category: </h2>
      </div>
      <div class="options-rating">
        <h2>Rating: </h2>
      </div>
    </div>
    <a href="#" class="btn"> + Favourite</a>
    <a href="#" class="btn"> + Read List</a>
  </section>
</div>
