{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Book App</title>
    <link rel="stylesheet" href="{% static 'css/homepage.css'%}">
  </head>
  <body>
    <div class="container">
      <a class="topnav_name" href="{% url 'home' %}">Name</a>
      <p class="topempty"></p>
      <a class="topnav_link1" href="{% url 'signup' %}"><span class="nav_name">SignUp</span></a>
      <a class="topnav_link2" href="{% url 'loginin' %}"><span class="nav_name">LogIn</span></a>
      <div class="main">
        <div class="sub-main">
          <img class="main-image" src="{% static 'images/boyread.gif'%}">
          <div class="main-details">
            <h2 class="main-title"> Book Application</h2>
            <h3 class="main-subtitle"> A wide range of books is available. Pick your favourites or bookmark them to read later. And a personalized recommender for you. </h3>
            <a class="main-link" href="{% url 'loginin' %}"><span class="main_name">LogIn</span></a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
