{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Books App</title>
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
  </head>
  <body>
    <div class="container">
      <a class="topnav_name" href="{% url 'home' %}">Home</a>
      <p class="topempty">Hello, {{request.user}}</p>
      <a class="topnav_link" href="{% url 'logout' %}"><span class="nav_name">Logout</span></a>
      <div class="main">
        <div class="search">
  				<form class="search-form">
  					<input type="text" placeholder="Search for books, authors, categories...">
  					<input type="submit" value="Submit">
  				</form>
			  </div>
      </div>
      <h3 class="nav_subtitle1">My Bookshelf</h3>
      <a class="nav_link1" href="{% url 'favourite' %}"><span class="nav_name">Favourites</span></a>
      <a class="nav_link2" href="{% url 'readList' %}"><span class="nav_name">To Read</span></a>
      <h3 class="nav_subtitle2">Find Books</h3>
      <a class="nav_link3" href=""><span class="nav_name">For You</span></a>
      <a class="nav_link4" href="{% url 'popular' %}"><span class="nav_name">Popular</span></a>
      <a class="nav_link5" href=""><span class="nav_name">Category</span></a>
      <p class="empty"></p>
      <div class="content">
        {% block content%}

        {% endblock %}
      </div>
    </div>
  </body>
</html>
