{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Library</title>
    <link rel="stylesheet" href="{% static 'css/login.css'%}">
  </head>
  <body>
    <div class="container">
      <a class="topnav_name" href="{% url 'home' %}">Name</a>
      <h4 class="topempty"></h4>
      <a class="topnav_link1" href="{% url 'signup' %}"><span class="nav_name">SignUp</span></a>
      <a class="topnav_link2" href="{% url 'login' %}"><span class="nav_name">LogIn</span></a>
      <div class="main">
        <div class="main-container">
          <div class="empty1">
          </div>
          <div class="right-side">
            <div class="header">
              <h2>CREATE  ACCOUNT</h2>
            </div>
            <form action="" method="POST">
              {% csrf_token %}
              <div class="input-container">
                {% for f in form %}
                  {{f}} <div class="errorMessage">{{f.errors|striptags}}</div>
                  <!-- {{form.first_name}}
                  {{form.last_name}}
                  {{form.username}}
                  {{form.email}}
                  {{form.password1}}
                  {{form.password2}} -->
                {% endfor %}
                <button type="submit" class="btn">SignUp</button>
                <p>Already have an account?</p>
                <div class="anchortag">
                  <a href="{% url 'login' %}">LogIn</a>
                </div>
              </div>
            </form>
            <div class="empty2">
            </div>
          </div>
          <script>
        		var form_fields = document.getElementsByTagName('input')
        		form_fields[1].placeholder='First Name';
        		form_fields[2].placeholder='Last Name';
        		form_fields[3].placeholder='Username';
        		form_fields[4].placeholder='Email Address';
            form_fields[5].placeholder='Password';
            form_fields[6].placeholder='Confirm Password';
        		for (var field in form_fields){
        			form_fields[field].className += ' form-control'
        		}
	        </script>
        </div>
      </div>
    </div>
  </body>
</html>
